.likes {
  color: #2ebaae;
}
.dislikes {
  color: red;
}
.stats {
  font-size: 20px;
}

.stars > a {
  margin-right: 5px;
}
.stars > a:hover {
  cursor: pointer;
}

.comment {
  padding: 1em;
  margin-bottom: 10px; 
  border: 1px solid #eee;
}

.comment > a {
  margin-bottom: 10px;
}

.comment > a > img {
  margin-right: 10px;
}

.author {
  justify-content: flex-start;
}

.comments {
  border-top: 1px solid #ccc;
}
.comments > h2 {
  margin-top: 1em;
}

#sidebar > * {
  margin: 0;
}
#sidebar {
  margin-top: 3em;
}


.boto-enviar:hover {
  border: none;
  color: white;
  background-color: #ddd;
}

.boto-enviar {
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 20px;
    display: inline-block;
    border: 1px solid #ddd;
  }