.likes {
  color: #2ebaae;
}
.dislikes {
  color: red;
}
.stats {
  font-size: 20px;
}

.stars > a {
  margin-right: 5px;
}
.stars > a:hover {
  cursor: pointer;
}

.comment {
  padding: 1em;
  margin-bottom: 10px; 
  border: 1px solid #eee;
}

.comment > a {
  margin-bottom: 10px;
}

.comment > a > img {
  margin-right: 10px;
}

.author {
  justify-content: flex-start;
}

.comments {
  border-top: 1px solid #ccc;
}
.comments > h2 {
  margin-top: 1em;
}

#sidebar > * {
  margin: 0;
}
#sidebar {
  margin-top: 3em;
}


.boto-enviar:hover {
  
  
  padding: 5px 25px;
  display: inline-block;
  color: white;
  background-color: #8c1f30;
  cursor: pointer;
}

.boto-enviar {
  border: 1px solid #8c1f30;
  color: #8c1f30;
  padding: 5px 25px;
  margin-top: 30px;
  display: inline-block;
  }

  #comentari-cerca {
  margin-top: 20px;
  border-color: #8c1f30;
}